/* Colors and fonts */
body {
  background: #edeada;
  color: #432818;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Prompt', sans-serif;
}
h1 {
  color: #6C584C;
  font-size: 32px;
  font-weight: 300;
}
h2 {
  color: #A4AC86;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #414833;
  font-weight: 400;
  font-size: 16px;
}
a:hover {
  color: #333D29;
}

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-beige {
  background-color: #F5F1E0;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-green {
  background-color: #DDE5B6;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-green:hover {
  background-color: #656D4A;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: #582F0E;
}
.list-inline i:hover {
  color: #A98467;
}
.banner-description {
  padding: 15px;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}
